@import url('https://fonts.googleapis.com/css?family=Salsa&effect=shadow-multiple&display:100,200,300,400,500,600,700');

hr {
   margin-top: 20px;
   margin-bottom: 20px;
   border: 0;
   border-top: 1px solid #eee;
 }

 .contact-icons-wrapper, .address, .theme-subtitle-wrapper {
    padding-top: 15px;
 }

 .gallery_caption, .getdirections-btn, .gettickets-btn, .btn-reserve, .quote {
    padding-top: 10px;
 }

.main-text-wrapper, .planyourvisit-btn {
    padding-top: 20px;
 }

.navstyle{
  background-image: linear-gradient(#87EB31, white);
}

.navbar-toggler{
  border: 1px solid #AB6BFF !important;
}

/* Style the text of the menu */
.navbar .nav > li > a{
font-size: 1.5em;
font-weight: normal;
padding: 5px 40px;
margin-right: 20px;
}

/* Menu Hover Style. Overridding Bootstrap's*/
/* Home */
.navbar-nav .nav-item.active .nav-link, .navbar-nav .nav-item:hover .nav-link, .gallery_caption {
 background-color: #4FB156; 
} 
/* About us menu */
.navbar-nav .nav-item.active2 .nav-link, .navbar-nav .nav-item:nth-child(2):hover .nav-link, #sports {
 background-color: #AB6BFF;
}
/* Rooms menu */
.navbar-nav .nav-item.active3 .nav-link, .navbar-nav .nav-item:nth-child(3):hover .nav-link {
 background-color: #FF3932; 
}
/*Plan You Visit menu */
.navbar-nav .nav-item.active4 .nav-link, .navbar-nav .nav-item:nth-child(4):hover .nav-link {
 background-color: #FF9F30;
}
/*Events menu */
.navbar-nav .nav-item.active5 .nav-link, .navbar-nav .nav-item:nth-child(5):hover .nav-link {
 background-color: #FF9F30;
}
/*Contact us menu */
.navbar-nav .nav-item.active6 .nav-link, .navbar-nav .nav-item:nth-child(6):hover .nav-link {
 background-color: #00BCE4;
}

.navbar-nav .nav-item.active .nav-link, .navbar-nav .nav-item.active2 .nav-link, .navbar-nav .nav-item.active3 .nav-link, .navbar-nav .nav-item.active4 .nav-link, .navbar-nav .nav-item.active5 .nav-link, .navbar-nav .nav-item.active6 .nav-link{
    border-radius: 16px;
    color: #fafafa;
 }

/* Smooth delay on menu hovering */
.nav-link {
    transition: all 250ms ease-in-out;
}

 .navbar-nav .nav-item:hover .nav-link, .nav-item:nth-child(2):hover, .nav-item:nth-child(3):hover, .nav-item:nth-child(4):hover, .nav-item:nth-child(5):hover, .nav-item:nth-child(6):hover,.btn-submit, .btn-signup, .btn-signup:hover, #science, #sports, #arts, #games, .theme-subtitle-wrapper{
    border-radius: 16px;
}

 .navbar-nav .nav-item:hover .nav-link, .nav-item:nth-child(2):hover, .nav-item:nth-child(3):hover, .nav-item:nth-child(4):hover, .nav-item:nth-child(5):hover, .nav-item:nth-child(6):hover, .planyourvisit-btn:hover, .gettickets-btn:hover, .getdirections-btn:hover, .btn-submit:hover, .btn-submit, .btn-signup, .btn-signup:hover,       #reserve-btn:hover, .btn-reserve:hover, #science, #sports, #arts, #games, .theme-wrapper, .theme-subtitle-wrapper, footer {
    color: #fafafa;
 }

.logo {
    width: 90px;
    height: 90px;
    margin-left: 20px;
}

/******Banner Slider on landing page **********/

.banner-home1 {
    background:url(../images/banner-home.jpg) no-repeat center center;
}
.banner-home2 {
    background:url(../images/plan-your-visit.jpg) no-repeat center center;
}
.banner-home3 {
    background:url(../images/happy-kids.jpg) no-repeat center center;
}

.slider {
   -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  display:block;
}

@-webkit-keyframes fade {
   0% {opacity: .4;}
   100% {opacity: 1;}
}

@keyframes fade {
    0% {opacity: .4;}
   100% {opacity: 1;}
}


/**** Banner images****/
.home-banner-center {
  background: url("../images/happy-kids.jpg") no-repeat center center;
}
.banner-about-us {
  background: url("../images/about-us.jpg") no-repeat center center;
} 
.banner-rooms {
  background: url("../images/rooms.jpg") no-repeat center center;    
}
.about-us-banner-center {
  background: url("../images/child-hand-paint.jpg") no-repeat center center;
} 
.banner-your-visit {
  background: url("../images/plan-your-visit.jpg") no-repeat center center; 
}
.banner-events {
  background: url("../images/events.jpg") no-repeat center center;    
}
.banner-contact-us {
  background: url("../images/contact-us.jpg") no-repeat center center;
}

.slider, .banner-about-us, .banner-rooms, .banner-your-visit, .banner-events, .banner-contact-us, .home-banner-center, .about-us-banner-center{
  background-size: cover;
}

.slider, .banner-about-us, .banner-rooms, .banner-your-visit, .banner-events, .banner-contact-us {
  height: 50vh;
}

.home-banner-center, .about-us-banner-center {
  height: 40vh;
}

.slider, .home-banner-center, .about-us-banner-center {
  margin-bottom: 50px;
  margin-top: 30px;
}

.maintitle, .theme-wrapper, .about-image, .compact-paragraph{
    padding: 20px;
}

.maintitle, .subtitle {
    color: #4FB156
}

/********* Home Page **********/

.maintitle {
  animation-name: headingline;
  animation-duration: 4s;
}

/* Add animation to the heading*/
@keyframes headingline {
  0%   {color:#FF3932;}  
  25%  {color:#AB6BFF;} 
  50%  {color:#FF9F30;}  
  75%  {color:#4FB156;}   
  100% {color:#00bce4;}
}

.uppercase {
    text-transform: uppercase;
}

.main-text-wrapper, .main-image-wrapper, .text-container, .theme-wrapper, .dotted-separator, .first-name, .last-name {
    width: 100%;
}

.about-image, .gallery, .contact-form-wrapper, .phone-wrapper, .email-wrapper, .address {
    margin: auto;
}

.main-text-wrapper{
    text-align: justify;
}

.main-image-wrapper, .maintitle, .subtitle, .subtitle-about, .subtitle-contact, .subtitle-plan-your-visit, .subtitle-events, .text-container, .gallery, .gallery_caption, .planyourvisit-btn, .getdirections-btn, .gettickets-btn, .btn-reserve, .theme-subtitle-wrapper, .about-image, .quote, .review-author, .customer-review,.compact-paragraph, .phone-wrapper, .email-wrapper, 
.location-wrapper, .subtitle-theme, #social-media, .footer-title, #location-info, .copyright-statement, .location-wrapper {
    text-align: center;
}

.maintitle, .subtitle, .subtitle-about, .subtitle-contact, .subtitle-events,.subtitle-plan-your-visit, .planyourvisit-btn, .getdirections-btn, .gettickets-btn, .btn-reserve, .theme-subtitle-wrapper,
.navbar .nav > li > a{
 font-family: 'Salsa', cursive, Helvetica;
 }

.maintitle, .subtitle, .subtitle-about, .subtitle-contact, .subtitle-events, .subtitle-plan-your-visit{
    font-weight: 200;
    margin-top: 20px;
    text-shadow: 2px 2px 2px #FF3932;
}

.subtitle, .subtitle-about, .subtitle-contact, .subtitle-events {
    padding: 30px 0px;
} 

.subtitle-about{
    color: #AB6BFF; /* purple */   
}
.subtitle-contact{
    color: #00bce4; /* blue */
}
.subtitle-plan-your-visit{
    padding: 30px 20px 20px 30px;
}

.subtitle-plan-your-visit, .subtitle-events {
    color:#FF9F30;
}


/****** Business Highlights ****/
.text-container{
    float: left;
    margin: 10px auto; 
}

#science, #sports, #arts, #games  {
    border-radius: 50px;
    padding: 30px;
}

/* Transform effect code taken from Avada's theme */
.room-img:hover {
    transform: perspective(1000px) scale(1.03);
    box-shadow: 0 0 10px #87EB31;
   /* opacity: 0.7;*/
    cursor: pointer;
    transition: 0.3s;
}

#science {
  background-color: #FF3932; 
  box-shadow: 0 0 10px #FF3932;
}

#arts {
  background-color: #FF9F30;
  box-shadow: 0 0 10px #FF9F30;
}
#games {
  background-color: #00BCE4;
  box-shadow: 0 0 10px #00BCE4;
}

/******* Rooom Gallery *******/

.gallery ul {
    padding-bottom: 25px;
    padding-left: 0px;
}

.gallery ul > li {
    position: relative;
    min-height: 250px;
    width: auto; 
    margin: 8px 1px 8px 0px;
    border: 1px solid #4FB156; 
    clear: both;
    border-radius: 25px;
    padding: 0px;
    cursor: pointer; /*eb*/
}

.gallery_caption {
    position: relative; 
    color: rgba(0,0,0,.8);
    min-height: 40px;
    width: auto;
    padding-bottom: 10px;
    opacity: .95;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.gallery ul, .gallery ul > li, .planyourvisit-btn, .getdirections-btn, .gettickets-btn, .quote, .compact-paragraph, .first-name, .last-name, #social-media a{
    display: inline-block;
}



.room-img  img {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

/****** Buttons *******/
.planyourvisit-btn{
    width: 300px;
    background: #4FB156;
    font-size: 20px;
    letter-spacing: 3px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 25px;
    border-radius: 10px;
}

.getdirections-btn, .gettickets-btn, .btn-reserve {
    width: 200px;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    padding-bottom: 10px;
    margin: 40px auto 10px 15px;
    border-radius: 5px; 
}

.planyourvisit-btn, .getdirections-btn, .gettickets-btn {
    color: black;
    font-weight: bold;
    transition: all 250ms ease-in-out;
}

/* Button in the Contact Us page */
.btn-submit{
    background: #00bce4; 
    font-weight: 700;
 }

.btn-signup {
    background: #FF9F30 !important;
  /*  background: #FF9F30; */
    font-weight: 700;
    text-align: right;
 }

.btn-signup:hover {
    background: rgb(207, 120, 21) !important;
   /* font-weight: 700;
    text-align: right; */
 }

 .getdirections-btn, .gettickets-btn,.gettickets-btn:hover, .getdirections-btn:hover{
    background: #FF9F30;
}

.planyourvisit-btn:hover {
    background: #FF3932;
}

.btn-submit:hover {
    background: #0099E4 !important;   
 }

.btn-reserve:hover {
    background:rgb(14, 90, 47);
} 

 .btn-reserve {
     background: #4FB156; /*#1A8849; */
     width:150px;
 }

.planyourvisit-btn, .getdirections-btn, .gettickets-btn, .planyourvisit-btn:hover, .gettickets-btn:hover, .getdirections-btn:hover, .btn-reserve, .btn-reserve:hover{
    text-decoration: none;
}

/**************Theme of the month *************/

/* Built gradient background code with: https://cssgradient.io/gradient-backgrounds/ using the colors from my website*/
.theme-wrapper {
    background-color: #ff9f30;
    background: linear-gradient(209deg, #f8f8f8 0%, #ff3232 24%, #ab6bff 49%, #76f134 75%, #00bce4 100%) no-repeat center center;
    background-size: cover;
    font-size: larger;
    margin: 20px auto 0px;
}

.theme-subtitle-wrapper {
    font-weight: 200;
    padding-bottom: 20px;
}

.theme-pic-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.theme-text-wrapper {
    padding: 10px; 
}

/************ About Us Page *************/
.about-title {
    padding: 50px 0px 30px;
}

.about-text{
    padding: 20px 60px 10px 60px;
}


 /**** Timeline section *****/
/* This code was taken from w3 school's website:
 https://www.w3schools.com/howto/howto_css_timeline.asp*/
 
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1068px;
  margin: 0 auto 55px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #6D0ECC; /*purple*/
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container-2 {
  padding: 10px 40px;
  position: relative;
  width: 50%;
}

/* The circles on the timeline */
.container-2::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #8812FF; /* purple*/
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid rgb(185, 137, 247);*/
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent /*#87EB31;*/ #AB6BFF;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid rgb(185, 137, 247); /*#87EB31; #AB6BFF;*/
  border-width: 10px 10px 10px 0;
  border-color: transparent /*#87EB31*/ /*#AB6BFF*/ rgb(185, 137, 247) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -12px; /*-16px*/
}

/* Fix the circle for containers on the right side */
.left::after {
  right: -13px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: rgb(185, 137, 247); /*#AB6BFF;*/ /*#87EB31;*/ /*==> green */ 
  position: relative;
  border-radius: 6px;
}


/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container-2 {
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container-2::before {
    left: 60px;
    border: medium solid /*#87EB31;*/ /*#AB6BFF;*/ rgb(185, 137, 247);
    border-width: 10px 10px 10px 0;
    border-color: transparent /*#87EB31*/ /*#AB6BFF*/ rgb(185, 137, 247)transparent transparent;
  }

/* Make sure all gallery-btn are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

/** What Parents Are Saying section **/
.quote {
    width: 90%; 
    height: auto;
    color: inherit;
    padding-bottom: 10px;
    margin: 0 1% 0 1%;
 }

.border {
    position: absolute;
    width: 40%; 
    left: 25%;
    border: .5px solid grey !important;
 }

.customer-review {
    display: block;
    padding: 25px;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 2px;
    font-style: italic;
 }

.review-author {
    margin-top: 25px;
    font-size: 18px;
    letter-spacing: 2px;
 }

.dotted-separator {
    border-color: #fb6667;
    border-width: 5px;
    margin: 30px auto 30px;
    max-width: 50%;
    border-top-style: dotted;
 }

/************* Plan Your Visit page *************/

.compact-paragraph {
    width: auto; 
    word-wrap: break-word;
    margin: 10px auto 0px;
  }
  
  .compact-paragraph p {
    margin: 0; 
    line-height: normal; 
  }

/************* Events ********************/
#left-col{
    background-color: #FF9F30;
    height: 1000px;
    margin-left:100px;
}

.event-header {
    background-color: #FF9F30;
    height: 50px;
    width: 100%;
    color:#fafafa;
}

.align {
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 0px;
}

.event-title-wrapper:hover {
    background: rgb(248, 209, 125);
 }

.icon-size {
    font-size:30px;
}

.title-content > a {
    position: relative;
    padding: 10px;
    bottom: 5px;
}

.event-wrapper {
    padding-bottom: 20px;
}

.event-img {
    padding: 10px;
}

.event-text{
    padding: 20px;
}

#reserve-btn {
    position: fixed;
    z-index: 99999 !important;
    bottom: 0px;
    right: 0px ;
    left: 0px;
    margin: 1% auto;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.3);
    color:black;
}

 #boxes .window {
    display: none;
    position: fixed;
    left: 35%;
    top:15%; 
    padding: 20px 10px 20px 10px;
    border: 1px solid #FF9F30;
    border-radius: 5px;
    z-index: 9000;
    background-color: rgb(245, 220, 167);
    text-align: justify;
    }

.event-form-header{
    text-align:center;
    color: black;
    padding-top: 15px;
    padding-bottom:25px;
}

.closewindow {
    position: absolute;
    top:8px;
    right:10px;
    cursor:pointer;
    font-size: 1em;
    color:#454545;
}

.closewindow:hover {
    color:black;
    text-decoration:none;
}

/* Z-index of #mask must lower than #boxes .window */
#mask {
  position:absolute;
  z-index:8000;
  background-color: rgba(0, 0, 0, 0.6); 
  display:none;
}

/**Styling Accordion Effect ***/
.title-accordion {
    margin-top: 1px;
    zoom: 1;
}

/** jQuery accordion style overide **/
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button {
    color: black!important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    background-color:  rgb(248, 209, 125) !important;
    font-weight: normal !important;
    color: black !important;
}

/************* Contact us page *************/
.contact-form-wrapper {
    width: 60%;
 }

.first-name {
    padding-right: 1%;
 }

.text-area{
   padding: 30px;
   margin: 6px 0 4px;
 }

.form-control{
   background: #fafafa;
 }
 
.phone-wrapper, .email-wrapper  {
   float: left;
   width: 50%;
   padding: 5px;
 }

 a:hover, a:focus {
    color: #018fe2;
}

.location-wrapper {
   margin: 45px auto 45px;
 }

.address {
    margin-left: auto;
}

#googlemap {
    height: 300px;
    width: 100%;  
    margin-right: 6%;
    margin-left: 6.5%;
}


/*****************Rooms*******************/

#modal {
  position: fixed;
  z-index:8000;
  background-color: rgba(0, 0, 0, 0.6); 
  display:none;
  width: 100%;
  height: 100%;
  top:18%;
  margin: auto;
  text-align:center;
 padding-top:8px;
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  height:auto;
  max-width: 900px;
  max-height:500px;
}

/* Add Animation - Zoom in the Modal */
.modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
/*******************/
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6); 
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.room-img:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/***************  Footer *****************/
/* Style footer section */
.footer-title {
    padding:5px;
    font-size: 19px;
}

#menu-widget-2, #social-media, #location-info{    
    padding: 15px;
}

footer {
   background-color:#1A8849; 
   min-height: 100px;
 }

#footer-details {
   padding: 25px;
 }

 .copyright-statement {
    font-size: 12px;
 }

#menu-widget-2 ul {
  padding-left: 85px;
  list-style: none;
 }

#menu-widget-2 li, #location-info {
   font-size: 18px;
 }

#menu-widget-2 li a {
   color: inherit;
}

#menu-widget-2 li a:hover{
    opacity: .8;
    text-decoration: none;
 }

#social-media {            
    display: block; 
}

#social-media a {
    padding: 10px;
 }

#social-media a:hover{
    opacity: .8;
 }


/******** Media Queries *******/

@media only screen and (min-width: 768px)  {
  h1{
    font-size: 50px; 
  }

  h2{
    font-size: 40px; 
  }
  
.about-text{
  padding: 20px 80px 20px 80px;
  display: inline-block;
} 
    
.border {
  display: block;
  height: 70%;
  width: 0;
  left: 95%;
  right: 0;
  top: 15%;
  padding: 0;
 }   
  
.subtitle-theme {
   color: #76F134;
   padding: 5px 5px 0px 0px;
 }

.slider, .banner-about-us, .banner-rooms, .banner-your-visit, .banner-events, .banner-contact-us {
    height: 75vh;
 } 
 
 .home-banner-center{
    height: 65vh;
 } 
 
 .about-us-banner-center {
     height: 60vh;
 }
 
.first-name, .last-name{
    width: 49.5%;
 } 

 .copyright-statement {
    font-size: 15px;
 }

.address {
    margin-left: 8.5%;
}

#googlemap {
    height: 300px;
    width: 100%;  
    margin-right: 6%;
}

.phone-wrapper, .email-wrapper{
    width: 30%;
}
 .phone-wrapper {
    margin-left:20%;
}

.email-wrapper {
    margin-right:20%
}
}

/****** iPad only ******/
@media only screen and (min-width: 768px) and (max-width:1024px){
    
.gallery ul {
    padding-left: 0px;
 }
     
.gallery ul > li {
    margin: 15px;
 }
     
.theme-wrapper {
    padding: 20px 20px 20px 30px;  
  }

  #menu-widget-2 ul {
   padding-left: 50px;
 } 

 #reserve-btn {
    margin-right: 15px;
    margin-bottom: 20px
}
}

@media only screen and (min-width : 768px) and (max-width : 900px){
    
.text-container{
    width: 40%;
    margin: 10px 10px 10px 43px;
 }
 #menu-widget-2 ul {
   padding-left: 100px;
 } 
}

/***** Desktop only ******/

@media only screen and (min-width: 1024px){  
.main-text-wrapper,.main-image-wrapper {
    width: 45%;
} 

.main-text-wrapper{
    top: -70px;
    margin: 5px 15px 15px 30px; 
}

.main-image-wrapper {
   overflow: hidden;
   margin: 15px 15px 15px 15px;
}

.main-text-wrapper , .main-image-wrapper{
    display: inline-block;    
}

.text-container{
    width: 40%;
    margin: 10px 40px 10px 50px;
 }

.gallery ul {
     padding-left: 0px;
 }
     
.gallery ul > li {
     margin: 8px; 
 }
 
 .theme-wrapper {
      padding: 20px 20px 40px 20px;
  } 

#menu-widget-2 ul {
   padding-left: 140px;
 } 

.event-wraper {
    padding-left:0px;
}

#reserve-btn {
    margin-right: 75px;
}
}